
.col{
   
}
.row{
   
}
.card-img-top {
    max-width: 150px;
    max-height: 220px;
    object-fit: cover;
}

.card{
    
}


.table{
    border-radius: 10px;
}
  .movie-table th,
  .movie-table td {
    color: white;
    padding: 10px;
    
  }

  .movie-table th {

    text-align: center;
  }
  .hover-effect:hover {
    opacity: 0.5;
  }
  a,label{
    text-decoration: none;
    color:white;
  }