
.table{
    border-radius: 10px;
}
  .movie-table th,
  .movie-table td {
    color: white;
    padding: 10px;
    
  }

  .movie-table th {

    text-align: center;
  }
  .hover-effect:hover {
    opacity: 0.5;
  }
  a,label,p,h5,.card-title{
    text-decoration: none;
    color:white;
  }
  .tarjeta{
    font-size: 2em;
    padding: 30px 15% 0 15%;
  }
  .logo-container{
    margin-left: 20px;
  }
  .logo-span{
    font-size: 30px;
  }
  .boton-agregar{
    margin-top: 30px;
    font-size: 1.2em;
  }